<h1 style="font-size: 30px; font-weight: bold; text-align: center;">
  ASSIGNMENT-2
</h1>


<h1 style=" font-size:25px; font-weight:bold ">Q1</h1>

<h1 style=" font-size:20px; font-weight:bold ">(a)</h1>
Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis). 

<h1 style=" font-size:20px; font-weight:bold ">(b)</h1>
Create a new Data Frame with the selected attributes only.

In [28]:
import pandas as pd
df= pd.read_csv("AWCustomers.csv")

selected_cols = [
    'Title', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
    'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
    'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome'
]
df_selected = df[selected_cols].copy()

print(df_selected.head())

  Title         City    StateProvinceName CountryRegionName PostalCode  \
0   NaN   Wollongong      New South Wales         Australia       2500
1   NaN      Shawnee     British Columbia            Canada    V9B 2C3
2   NaN  West Covina           California     United States      91791
3   NaN    Liverpool              England    United Kingdom     L4 4HB
4   NaN        Werne  Nordrhein-Westfalen           Germany      59368

    BirthDate        Education      Occupation Gender MaritalStatus  \
0  1987-11-13        Bachelors        Clerical      M             M
1  1972-07-21  Partial College        Clerical      M             M
2  1985-11-09        Bachelors        Clerical      F             S
3  1977-10-18  Partial College  Skilled Manual      M             M
4  1975-02-05  Partial College  Skilled Manual      M             S

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome
0         81916
1         81076
2         86387
3         61481
4         51804

<h1 style=" font-size:20px; font-weight:bold ">(c)</h1>  Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of 
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [29]:

data_types = {
    'Title': ('Discrete', 'Nominal'),
    'City': ('Discrete', 'Nominal'),
    'StateProvinceName': ('Discrete', 'Nominal'),
    'CountryRegionName': ('Discrete', 'Nominal'),
    'PostalCode': ('Discrete', 'Nominal'),
    'BirthDate': ('Continuous', 'Interval'),  
    'Education': ('Discrete', 'Ordinal'),     
    'Occupation': ('Discrete', 'Nominal'),
    'Gender': ('Discrete', 'Nominal'),
    'MaritalStatus': ('Discrete', 'Nominal'),
    'HomeOwnerFlag': ('Discrete', 'Nominal'),  
    'NumberCarsOwned': ('Discrete', 'Ratio'),
    'NumberChildrenAtHome': ('Discrete', 'Ratio'),
    'TotalChildren': ('Discrete', 'Ratio'),
    'YearlyIncome': ('Continuous', 'Ratio'),
}

for col, (value_type, scale) in data_types.items():
    print(f"{col}: Value Type = {value_type}, Scale = {scale}")

Title: Value Type = Discrete, Scale = Nominal
City: Value Type = Discrete, Scale = Nominal
StateProvinceName: Value Type = Discrete, Scale = Nominal
CountryRegionName: Value Type = Discrete, Scale = Nominal
PostalCode: Value Type = Discrete, Scale = Nominal
BirthDate: Value Type = Continuous, Scale = Interval
Education: Value Type = Discrete, Scale = Ordinal
Occupation: Value Type = Discrete, Scale = Nominal
Gender: Value Type = Discrete, Scale = Nominal
MaritalStatus: Value Type = Discrete, Scale = Nominal
HomeOwnerFlag: Value Type = Discrete, Scale = Nominal
NumberCarsOwned: Value Type = Discrete, Scale = Ratio
NumberChildrenAtHome: Value Type = Discrete, Scale = Ratio
TotalChildren: Value Type = Discrete, Scale = Ratio
YearlyIncome: Value Type = Continuous, Scale = Ratio

<h1 style=" font-size:25px; font-weight:bold ">Q2</h1>


Depending on the data type of each attribute, transform each object from your preprocessed data.  
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do 
not perform each task on the smaller data set that you got from your random sampling result.  

<h1 style=" font-size:20px; font-weight:bold ">(a)</h1>
Handling Null values

In [30]:
from sklearn.impute import SimpleImputer

# Load dataset
df = pd.read_csv("AWCustomers.csv")

# Selected columns as per Part I
selected_cols = [
    'Title', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
    'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
    'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
    'YearlyIncome'
]

df_selected = df[selected_cols].copy()

# Convert BirthDate to datetime
df_selected['BirthDate'] = pd.to_datetime(df_selected['BirthDate'], errors='coerce')

# Define numeric and categorical columns
numeric_cols = ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
categorical_cols = list(set(selected_cols) - set(numeric_cols) - {'BirthDate'})

# Impute numeric columns with median
num_imputer = SimpleImputer(strategy='median')
df_selected[numeric_cols] = num_imputer.fit_transform(df_selected[numeric_cols])

# Impute categorical columns with mode
cat_imputer = SimpleImputer(strategy='most_frequent')
df_selected[categorical_cols] = cat_imputer.fit_transform(df_selected[categorical_cols])

# Impute BirthDate with median date
median_birthdate = df_selected['BirthDate'].median()
df_selected['BirthDate'].fillna(median_birthdate, inplace=True)

print("Null values handled")
print(df_selected.isnull().sum())

Null values handled
Title                   0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

C:\Users\jayas\AppData\Local\Temp\ipykernel_1920\1129448.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_selected['BirthDate'].fillna(median_birthdate, inplace=True)

<h1 style=" font-size:20px; font-weight:bold ">(b)</h1> Normalization

In [31]:
from sklearn.preprocessing import MinMaxScaler

# Select numeric columns for normalization
numeric_cols = ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Apply normalization
df_selected[numeric_cols] = scaler.fit_transform(df_selected[numeric_cols])

print("Normalization applied to numeric columns:")
print(df_selected[numeric_cols].head())

Normalization applied to numeric columns:
   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome
0              0.6              0.000000       0.333333      0.496842
1              0.4              0.333333       0.666667      0.489453
2              0.6              0.000000       0.000000      0.536172
3              0.4              0.333333       0.666667      0.317083
4              0.2              0.000000       0.000000      0.231958

<h1 style=" font-size:20px; font-weight:bold ">(c)</h1> Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different 
values

In [32]:

bins = 4
df_selected['YearlyIncome_Binned'] = pd.cut(df_selected['YearlyIncome'], bins=bins, labels=False)

print("Binned 'YearlyIncome' into categories:")
print(df_selected[['YearlyIncome', 'YearlyIncome_Binned']].head())

Binned 'YearlyIncome' into categories:
   YearlyIncome  YearlyIncome_Binned
0      0.496842                    1
1      0.489453                    1
2      0.536172                    2
3      0.317083                    1
4      0.231958                    0

<h1 style=" font-size:20px; font-weight:bold ">(d)</h1>Standardization/Normalization

In [33]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Initialize scalers
standard_scaler = StandardScaler()
minmax_scaler = MinMaxScaler()

# Select numerical columns for scaling
num_cols = ['YearlyIncome', 'NumberCarsOwned', 'TotalChildren']

# Standardization (mean=0, std=1)
df_selected_std = df_selected.copy()
df_selected_std[num_cols] = standard_scaler.fit_transform(df_selected[num_cols])
print("Standardized numerical columns:")
print(df_selected_std[num_cols].head())

# Normalization (scale to [0,1])
df_selected_norm = df_selected.copy()
df_selected_norm[num_cols] = minmax_scaler.fit_transform(df_selected[num_cols])
print("\nNormalized numerical columns:")
print(df_selected_norm[num_cols].head())

Standardized numerical columns:
   YearlyIncome  NumberCarsOwned  TotalChildren
0      0.298555         1.892524       0.161342
1      0.271180         0.798389       1.239753
2      0.444261         1.892524      -0.917069
3     -0.367401         0.798389       1.239753
4     -0.682765        -0.295746      -0.917069

Normalized numerical columns:
   YearlyIncome  NumberCarsOwned  TotalChildren
0      0.496842              0.6       0.333333
1      0.489453              0.4       0.666667
2      0.536172              0.6       0.000000
3      0.317083              0.4       0.666667
4      0.231958              0.2       0.000000

<h1 style=" font-size:20px; font-weight:bold ">(e)</h1> Binarization (One Hot Encoding)

In [34]:
from sklearn.preprocessing import OneHotEncoder

# List of categorical columns to encode
categorical_cols = [
    'Title', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
    'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag'
]

# Initialize OneHotEncoder
encoder =OneHotEncoder(sparse_output=False, drop='first')

# Fit and transform
encoded_array = encoder.fit_transform(df_selected[categorical_cols])

# Get column names
encoded_col_names = encoder.get_feature_names_out(categorical_cols)

# Create DataFrame from encoded data
encoded_df = pd.DataFrame(encoded_array, columns=encoded_col_names)

# Reset index to align with df_selected
encoded_df.index = df_selected.index

# Drop original categorical columns and concatenate the encoded columns
df_encoded = pd.concat([df_selected.drop(columns=categorical_cols), encoded_df], axis=1)

print("One-hot encoding complete. Transformed DataFrame:")
print(df_encoded.head())

One-hot encoding complete. Transformed DataFrame:
   BirthDate  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0 1987-11-13              0.6              0.000000       0.333333
1 1972-07-21              0.4              0.333333       0.666667
2 1985-11-09              0.6              0.000000       0.000000
3 1977-10-18              0.4              0.333333       0.666667
4 1975-02-05              0.2              0.000000       0.000000

   YearlyIncome  YearlyIncome_Binned  Title_Mrs.  Title_Ms  Title_Ms.  \
0      0.496842                    1         0.0       0.0        0.0
1      0.489453                    1         0.0       0.0        0.0
2      0.536172                    2         0.0       0.0        0.0
3      0.317083                    1         0.0       0.0        0.0
4      0.231958                    0         0.0       0.0        0.0

   Title_Sr.  ...  Education_High School  Education_Partial College  \
0        0.0  ...                    0.0                        0.0
1        0.0  ...                    0.0                        1.0
2        0.0  ...                    0.0                        0.0
3        0.0  ...                    0.0                        1.0
4        0.0  ...                    0.0                        1.0

   Education_Partial High School  Occupation_Management  Occupation_Manual  \
0                            0.0                    0.0                0.0
1                            0.0                    0.0                0.0
2                            0.0                    0.0                0.0
3                            0.0                    0.0                0.0
4                            0.0                    0.0                0.0

   Occupation_Professional  Occupation_Skilled Manual  Gender_M  \
0                      0.0                        0.0       1.0
1                      0.0                        0.0       1.0
2                      0.0                        0.0       0.0
3                      0.0                        1.0       1.0
4                      0.0                        1.0       1.0

   MaritalStatus_S  HomeOwnerFlag_1
0              0.0              1.0
1              0.0              1.0
2              1.0              0.0
3              0.0              1.0
4              1.0              1.0

[5 rows x 669 columns]

<h1 style=" font-size:25px; font-weight:bold ">Q3</h1>

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each 
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct 
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively. 

<h1 style=" font-size:20px; font-weight:bold ">(a)</h1> Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two 
following objects of your transformed input data.

In [38]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import jaccard
import numpy as np

# Step 1: Load the dataset
df = pd.read_csv("AWCustomers.csv")

# Step 2: Select relevant columns (including CommuteDistance if needed later)
selected_cols = [
    'Title', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
    'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
    'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
    'TotalChildren', 'YearlyIncome'
]

df_selected = df[selected_cols].copy()

# Step 3: Drop rows with missing values for simplicity
df_cleaned = df_selected.dropna().reset_index(drop=True)

# Step 4: Define numeric and categorical columns
numeric_cols = ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
categorical_cols = ['Title', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode',
                    'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag']

# Step 5: Standardize numeric data
scaler = StandardScaler()
numeric_scaled = scaler.fit_transform(df_cleaned[numeric_cols])
numeric_df = pd.DataFrame(numeric_scaled, columns=numeric_cols)

# Step 6: One-hot encode categorical data
encoder = OneHotEncoder(sparse_output=False)
categorical_encoded = encoder.fit_transform(df_cleaned[categorical_cols])
categorical_df = pd.DataFrame(categorical_encoded, columns=encoder.get_feature_names_out(categorical_cols))

# Step 7: Combine transformed features
df_transformed = pd.concat([numeric_df, categorical_df], axis=1)

# Step 8: Choose two objects (first two rows)
obj1 = df_transformed.iloc[0]
obj2 = df_transformed.iloc[1]

# --- Similarity Metrics ---

# Simple Matching Coefficient
def simple_matching(a, b):
    matches = np.sum(a == b)
    return matches / len(a)

# Jaccard Similarity - on categorical (binary) attributes only
cat_obj1 = categorical_df.iloc[0].astype(bool)
cat_obj2 = categorical_df.iloc[1].astype(bool)

# Cosine Similarity - on full transformed feature vector
cos_sim = cosine_similarity([obj1], [obj2])[0][0]

# Results
smc = simple_matching(obj1, obj2)
jaccard_sim = 1 - jaccard(cat_obj1, cat_obj2)

print("Similarity Measures Between Object 0 and 1")
print(f"Simple Matching Coefficient (SMC): {smc:.4f}")
print(f"Jaccard Similarity (Categorical): {jaccard_sim:.4f}")
print(f"Cosine Similarity (All Features): {cos_sim:.4f}")

Similarity Measures Between Object 0 and 1
Simple Matching Coefficient (SMC): 0.9109
Jaccard Similarity (Categorical): 0.1111
Cosine Similarity (All Features): 0.1893

<h1 style=" font-size:20px; font-weight:bold ">(b)</h1> Calculate Correlation between two features Commute Distance and Yearly Income